body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.full-page-image {
    background: url('../img/cantaca de macao.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.hidden-link {
    position: absolute;
    bottom: 92px; /* Ajusta este valor para mover el área clicable más arriba */
    left: 51%;
    transform: translateX(-50%);
    width: 250px; /* Ajusta este valor para definir el ancho del área clicable */
    height: 60px; /* Ajusta este valor para definir la altura del área clicable */
    background-color: rgba(0, 0, 0, 0); /* Color de fondo transparente */
    cursor: pointer;
}

/*.hidden-link:hover {
    background-color: rgba(242, 251, 252, 0.122); /* Muestra un color al pasar el ratón por encima 
}*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 10px;
}
