body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.message, .premio {
    margin: 20px 0;
}

.message a, .premio a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

.text-container {
    text-align: center;
    line-height: 1.5;
}

.full-page-image {
    background: url('../img/cantaca de macao.jpg') no-repeat center center;
    background-size: cover;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-link {
    position: absolute;
    bottom: 7px; /* Ajusta este valor para mover el área clicable más arriba */
    left: 50%;
    transform: translateX(-50%);
    width: 250px; /* Ajusta este valor para definir el ancho del área clicable */
    height: 60px; /* Ajusta este valor para definir la altura del área clicable */
    background-color: rgba(0, 0, 0, 0); /* Color de fondo transparente */
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hidden-link:hover {
    transform: translateX(-50%) translateY(-10px); /* Elevar el área clicable */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .hidden-link {
        width: 250px; /* Mantén el ancho del enlace */
        height: 60px; /* Mantén la altura del enlace */
        bottom: 7px; /* Mantén la posición inferior */
    }
}

@media (max-width: 480px) {
    .hidden-link {
        width: 250px; /* Mantén el ancho del enlace */
        height: 60px; /* Mantén la altura del enlace */
        bottom: 7px; /* Mantén la posición inferior */
    }
}

