body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evita el scroll horizontal */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow-y: auto; /* Permite el scroll vertical en dispositivos móviles */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1; /* Asegura que ocupe la altura disponible */
}

.image-container,
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto; /* Ajusta la altura automáticamente */
}



.message {
    font-size: 1.5em;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .image-container
     {
        width: 100%; /* Ocupan todo el ancho en pantallas pequeñas */
    }



    .message {
        font-size: 1.2em;
        padding: 15px;
        width: 90%; /* Ajusta el ancho del texto para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .map-container iframe {
        height: 200px;
    }

    .message {
        font-size: 1em;
        padding: 10px;
        width: 90%; /* Ajusta el ancho del texto para pantallas pequeñas */
        margin: 0 auto; /* Centra el texto */
    }
}






