body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: rgba(65, 152, 222, 0.424);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Ajusta este valor para acercar la imagen al texto */
}

.message {
    text-align: center;
    margin: 10px 0; /* Ajusta este valor para acercar el texto a la imagen */
    line-height: 1.5;
}

.pdf {
    display: inline-block;
    margin-bottom: 10px; /* Ajusta este valor para posicionar el enlace */
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.premio {
    display: none; /* Oculta este div si no es necesario */
}

/* Ocultar el reproductor de audio */
audio {
    display: none;
}
/* Mantener el reproductor de audio visible */ 
audio { 
    display: block; margin-top: 20px; /* Ajusta este valor según sea necesario */ 
}
