body{
    margin:0px;
}
#div1{
    width: 100%;
    background-color: red;
    
}
#div2{
    width: 100%;
    background-color: blue;
}
#pie-documento{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(150,150,150);
    
}